
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Grilla del encabezado  */
.g-header{
  display: grid;
  grid-template-rows: 150px 1fr;
}

/* La parte de abajo del header */
.g-menu-header{
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
}
main {
  display: grid;
  grid-template-rows: 1000px ;
  width: 100%;
  margin: 0 auto;
}
.home-banner{
  width: 100%;
  height: 100%;
  padding: 0px;

}

img {
  width: 90%;
  height: 90%;
  padding: 10px;
}

body {
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
  width: 100%;
  
}
.nav-all{
  display:  grid;
  grid-template-rows: 70px 40px 40px;
  width: 100vw;
}
.nav-conteiner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo-liebre {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.search {
  width: 80%;
  background-color: #fff;
  border: #fff 1px solid;
  display: grid;
  grid-template-columns: 4fr 1fr;
  place-content: center;
  border-radius: 10px;
  height: 40px;
  margin: auto 0;
  justify-self: center;
}

.search input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
}


.nav-tittle {
 margin: 0px 30px;
  justify-self: center;
  align-self: center;
  text-align: center;

}

.button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 5px;
}

.list-nav{
  margin-right: 15px ;
}


}
.nav-tittle {
  font-size: 12px;
  text-align: center;
}

li a {
  color: #000;
  text-decoration: none;
}

.navegation1 {
  display: none;
  margin: 10px 20px;
  list-style-type: none;
  text-align: center;
  flex-direction: column;
  text-align: left;
}
.navegation2 {
  display: none;
  margin: 10px;
  list-style-type: none;
  justify-content: flex-end;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.burger-menu {
  background-color: #1259c3;
  width: 2.5em;
  display: flex;
  height: 2.5em;
  border-radius: 15%;
  margin: 10px auto;
  align-self: center;
  justify-self: center;
}

.burger-menu i {
  color: #fff;
  margin: auto;
}

/* estilos formulario */
.form{
  background-color: #ebebeb;
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.form label{
  justify-content: flex-start;
}

.form input{
  width: 60%;
  height: 32px;
  padding: 2px;   
  margin: 0.5rem;
  border: 1px solid #1259c3;
}
.form input:hover{
  width: 90%;
  border: 1px dashed #772ce8;
  transition: 1000ms;
}
.user-type{
  width: 40%;
  display: flex;
  align-items: center;
}
.user-option{
  justify-content: flex-start;
  display: block;
}

.form button{
  background-color: #1259c3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 5px;
}
.form button:hover{
  background-color: #772ce8;
  color: #fafafa;
  border: 25px;
  padding: 1rem 2rem;
  transition: 2000ms;
}

.footer-conteiner{
  display: grid;
  grid-template-rows: 100px 100px 100px 40px;
  margin-top: 20px;
}

.Copyright{
display: grid;
place-content: center;
padding-top: 30px;
}
.g-fot{
  padding: 0px 30px;
  font-size: 13px;
  padding-bottom: 20px;
}

footer {
  text-align: center;
}

footer section i {
  color: #1259c3;
  width: 2em;
  height: 2em;
  margin: 10px;
}
footer section i:hover{
  color: #666;
  transition: 1000ms;
}
  

  /* ----Diseño adaptativo primer punto de quiebre---- */

@media (min-width: 769px) {
    .burger-menu {
      display: none;
    }
    .navegation1 {
      display: flex;
      flex-direction: row;
      margin: 10px;
      list-style-type: none;
      text-align: center;
    }
    .navegation2 {
      display: flex;
      margin: 10px;
      list-style-type: none;
      justify-content: flex-end;
      flex-direction: row;
      justify-self: auto;
    }
      .g-menu-header2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
      }

      main {
        display: grid;
        grid-template-rows: 1000px ;
        width: 100%;
        margin: 0 auto;
      }
      .nav-all{
        display:  grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 100px ;
        width: 100vw;
      }
      .g-header{
        display: grid;
        grid-template-rows: 100px 1fr;
      }
    
      .footer-conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

    }

    



  /* ----Diseño adaptativo segundo punto de quiebre---- */

@media (min-width: 1024px) {

  
  

  .logo-liebre {
    display: block;
    margin-left: 10px;
    height: 80%;
    width: 80%;
    align-self: center;
  }

  .search {
    width: 100%;
    background-color: #fff;
    border: #fff 1px solid;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-content: center;
    border-radius: 10px;
    height: 40px;
    margin: auto 0;
  }

  main {
    display: grid;
    grid-template-rows: 1000px ;
    width: 100%;
    margin: 0 auto;
  }

}
